.card-container {
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
  }

  
  img {
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    object-fit: cover;
  }
    
  h4 {
    font-size: 1.2rem;
    color: gray;
    margin-bottom: 1rem;
  }
    
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
  }

  .btncontainerlisten a{
    font-size: 1.3rem;
  }

  .buy {
    padding: 0.65em 1.6em;
    border: 3px solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.45rem;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
    animation: bn13bouncy 10s infinite linear;
    cursor: pointer;
  
  
  }