#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 50%;
  height: 50%;
}

.swiperSlide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperSlide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background: #000;
  color: #000;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiperSlide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
 
  width: 45vw;
  margin-bottom: 5vh;

}


.mvwrapper2{



 
 overflow: hidden;
 width: 100%;
 height: 12rem;

}
.mySwiper {
  box-sizing: border-box;
  padding: 10px 0;
  height: 100%;
}



.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}


.mvwrapper2x{
  display: flex;
justify-content: center;
align-items: center;
  height: 25vh;
  background: rgba(78, 71, 71, 0.219);


}