.mvparentwrapper{
  height: 76svh;
  display: flex;
  justify-content: end;
  align-items: center;
flex-direction: column;
 
  
}

.mySwiper2{
 
  width: 100vw;
}

.swiperSlide2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  
}

.thumbWrapper{
  outline: 1px solid green;

}

 .mySwiper {
  box-sizing: border-box;
  padding: 15px 0;
  height: 11rem;
  /* width: 125rem; */
  width: 100vw;

}

.mvwrapper2x{
display: flex;
justify-content: center;
align-items: center;

background: rgba(0, 0, 0, 0.349);

}


.mainWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  
}
@media only screen and (min-width: 320px) and (max-width: 1027px) {


  .mySwiper {
    box-sizing: border-box;
    padding: 15px 0;
    height: 9rem;
    /* width: 125rem; */
    width: 100vw;
    

  }


}
@media only screen and (min-width: 420px) and (max-width: 1027px) {



}
@media only screen and (min-width: 520px) and (max-width: 1027px) {



}
@media only screen and (min-width: 620px) and (max-width: 1027px) {



}
@media only screen and (min-width: 720px) and (max-width: 1027px) {


}
@media only screen and (min-width: 820px) and (max-width: 1027px) {


}
@media only screen and (min-width: 920px) and (max-width: 1027px) {



}

