.albumEmbed{
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 350px;
    height: 420px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    right: 5rem;
    top:6rem;
}