
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.swiper-pagination-bullet-active {
    background-color: #ffffff !important;
}

.swiper-pagination-bullet {
    background-color: #ffffff !important;
}
.swiperCubeMain {
    width: 300px;
    height: 300px;


  }
  
  .swiperCube {
    background-position: center;
    background-size: cover;

  }
  
  .swiperCube img {
    display: block;
    width: 100%;
  }

  .swiperWrapper{

    width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
    
  }
  


  .overlayInfo1 *{
    font-family: "Poppins";
    color: white;
 
  }

  .title{
    font-family: "Roboto";
    
    font-size: 1.4rem;
  }
  .overlayInfo1 * {
    margin: 0;
  

  }





  .caption{
    font-size:9px;
    width: 90%;
  }
  .date{
    color: rgba(255, 255, 255, 0.319);
    margin-bottom: 3px;
    font-size: 9px;  }

  
  .overlayInfo1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: left;
    box-shadow: inset 0px -40px 140px  black; 
    color: white;
    padding: 20px;
    box-sizing: border-box;
  }

  .streamIcons{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15px;
    right: 10px;
  }

  .streamIcons img{
    width: 20px;
    margin-bottom: 7px;
    height: 20px;
    transition: all 0.4 ease-in-out;

  }


  .streamIcons img:hover{
    filter: brightness(80%);
  }

  .youtubelogo{
    width: 25px !important;
    height: 25px !important;
    margin-left: -2px;
  }

  .contentWrapper * {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
  

  .swiperbuttonprev3,
  .swiperbuttonnext3 {
    position: absolute;
    top: 45%;
 

    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;

  }
  .swiperbuttonprev3 img:hover{
    filter: brightness(70%);
  }
  .swiperbuttonnext3 img:hover{
    filter: brightness(70%);
  }


  .swiperbuttonprev3 {
    left: -1.7rem;
    filter: opacity(40%);
    transition: all 0.2s ease-in-out ;

  }


  .swiperbuttonnext3 {

    right:-1.7rem;
    filter: opacity(40%);
    transition: all 0.2s ease-in-out ;
  }


  .swiperbuttonnext3 img, .swiperbuttonprev3 img{
    width: 30px;
    height: 30px;
  }

  .descWrapper{
    height: 4rem;
    overflow:scroll;
  }

  /* .swiperCube:hover .contentWrapper * {
    opacity: 1;
  } */
  