@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Lexend+Giga:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
#app {
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica, "Roboto", sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
}

#swiper-comp {
  position: relative;
  display: flex;
}

.swiper-title {
  position: absolute;
  top: 13.5rem;
  left: -6.5rem;
  font-size: 2.4rem;
  z-index: 2;
  color: white;
  transform: rotate(-90deg);
}

a:link {
  text-decoration: none;
}
.swiper-pagination {
  display: none;
}

.btn-container {
  position: absolute;
  z-index: 2;
  right: 50%;
  bottom: 7%;
}
.bn13 {
  padding: 0.65em 1.6em;
  border: 3px solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  animation: bn13bouncy 10s infinite linear;
  cursor: pointer;
}

.bn13:hover {
  background-color: white;
  color: #000000;
}

@keyframes bn13bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.your-swiper-container {
  position: relative;
}

.swiperSlide {
  position: relative;
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100svh;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  justify-content: center;
}

.albumcontainer {
  flex: 1 1 1rem;
  margin-top: 3rem;
  padding-left: 4rem;
}

.imgWrapper {
  width: 28rem;
}

.dualpic2 {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  align-self: center;
  transition: all 0.2s ease;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.mainHeader {
  flex: 1 1 1rem;
  justify-content: center;
  align-items: center;
  margin-top: -36rem;
  margin-left: 10px;
}

.blankSection {
  flex: 1.2 1 1rem;
}

.mask {
  position: absolute;
  width: 30rem;
  top: 37%;
  left: 68.5%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.mask:hover {
  opacity: 1;
}

.swiperSlide .bg {
  position: relative;
  display: block;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bt {
  position: absolute;
}

.top {
  font-family: "Lexend Giga", sans-serif;
  color: white;
  font-size: 40px;
  position: absolute;
  top: 10.2rem;
  left: 17.5rem;
}

.left {
  font-family: "Lexend Giga", sans-serif;
  color: white;
  font-size: 36px;
  position: absolute;
  transform: rotate(-90deg);
  top: 25rem;
  left: 5.5rem;
}

.bottom {
  font-family: "Lato", sans-serif;
  color: rgb(224, 224, 224);
  font-size: 35px;
  width: 11rem;
  /* position: absolute; */
  /* top:13.5rem;
  left: 54.6rem; */
}

.dualtitle {
  width: 30rem;
  /* position: absolute; */
  transform: rotate(-5deg);
  /* left: 37.5vw;
  top: 3.5rem; */
  filter: brightness(85%);
}

.mainHeader {
  display: flex;
  flex-direction: column;
}

.mainHeader2 {
  position: absolute;
  visibility: hidden;
}

.bottom {
  margin: 0;
  justify-self: center;
}
.albumcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  /* position: absolute;
  left: 8rem;
  top: 13rem */
}

.logos {
  display: flex;
}

.spotlogo {
  position: relative;
  width: 6.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  top: -2px;
  cursor: pointer;
  transition: all 0.2s ease;
  cursor: pointer;
}
.ytlogo {
  width: 7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  cursor: pointer;
}
.applelogo {
  position: relative;
  width: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  top: 1px;
  cursor: pointer;
  transition: all 0.2s ease;
  cursor: pointer;
}

.spotlogo:hover {
  filter: brightness(60%);
}
.ytlogo:hover {
  filter: brightness(60%);
}
.applelogo:hover {
  filter: brightness(60%);
}

.dualtitle {
  margin-bottom: 0.8rem;
}
.dualpicphonewrapper {
  position: absolute;
  visibility: hidden;
}

.dualpic2:hover {
  filter: brightness(90%);
  scale: 1.01;
}

/* .merchpic{
  width: 35rem;
  margin: 0 5rem 0 5rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
} */

.merchpic:hover {
  filter: brightness(90%);
  scale: 1.04;
}

.merchparent {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .item{
  width: 15.3rem;
} */
/* .pic{
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
  
} */

/* .shopWrapper{
  display: flex;
} */
/* 
.left2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top:3.5rem;
}
.right2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
} */

/* button */
.shopWrapper {
  display: grid;
  grid-template-columns: 0.8fr 1fr 1fr 0.2fr 1.2fr 1.2fr 0.2fr 1fr 1fr 0.8fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  align-items: center;
  margin-top: rem;
}

.left2 {
  margin-top: 4rem;
  grid-column: 2 / span 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.mid2 {
  grid-column: 5 / span 2;
  grid-row: 1;
}

.right2 {
  margin-top: 4rem;
  grid-column: 8 / span 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pic {
  width: 100%;
  transition: all 0.3s ease-in-out;
  height: auto;
}

.merchpic {
  width: 100%;
  height: auto;
  transition: all 0.1s ease-in;
}

.btncontainer {
  bottom: 6%;
  position: absolute;
  z-index: 2;
}

.buy {
  padding: 0.65em 1.6em;
  border: 3px solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.45rem;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  animation: bn13bouncy 10s infinite linear;
  cursor: pointer;
}

.buy:hover {
  background-color: white;
  color: #000000;
}

.pic:hover {
  transform: scale(1.1);
}

.imgTitleWrapper {
  display: flex;
  flex-direction: column;
}

.one {
  position: relative;
}

.onetitle {
  font-family: Poppins;
  color: white;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.one:hover .onetitle {
  opacity: 1;
  color: rgb(255, 255, 255);
}

.two {
  position: relative;
}

.twotitle {
  font-family: Poppins;
  color: white;
  font-size: 1rem;

  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.two:hover .twotitle {
  opacity: 1;
  color: rgb(255, 255, 255);
}

.three {
  position: relative;
}

.threetitle {
  font-family: Poppins;
  color: white;
  font-size: 1rem;

  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.three:hover .threetitle {
  opacity: 1;
  color: rgb(255, 255, 255);
}

.four {
  position: relative;
  top: 1rem;
  filter: brightness(130%);
}

.fourtitle {
  font-family: Poppins;
  color: white;
  font-size: 1rem;

  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.four:hover .fourtitle {
  opacity: 1;
  color: rgb(255, 255, 255);
}

.five {
  position: relative;
  top: 0.3rem;
}

.fivetitle {
  font-family: Poppins;
  color: white;
  font-size: 1rem;

  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.five:hover .fivetitle {
  opacity: 1;
  color: rgb(255, 255, 255);
}

.six {
  position: relative;
}
.illaparent {
  gap: 8rem;
}
.sixtitle {
  font-family: Poppins;
  color: white;
  font-size: 1rem;

  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.six:hover .sixtitle {
  opacity: 1;
  color: rgb(255, 255, 255);
}

.seven {
  position: relative;
  filter: brightness(140%);
}

.seventitle {
  font-family: Poppins;
  color: white;
  font-size: 1rem;

  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.seven:hover .seventitle {
  opacity: 1;
  color: rgb(255, 255, 255);
}

.towel {
}

.eight {
  position: relative;
  filter: brightness(180%);
  top: 0.9rem;
}

.eighttitle {
  font-family: Poppins;
  color: white;
  font-size: 1rem;

  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.eight:hover .eighttitle {
  opacity: 1;
  color: rgb(255, 255, 255);
}

.left3 {
  width: 50rem;
}
.right3 {
  width: 90rem;
}
.illawrapper {
  display: flex;
  gap: 12rem;
}

.illaparent {
  display: flex;
  justify-content: center;
}

.illalogo {
  width: 100%;
  height: auto;
  transition: all 0.4s ease;
}
.illalogo:hover {
  scale: 1.02;
}

.right3 {
  width: 50rem;
}

.nftdud {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: all 0.4s ease;
}

.pwrapper p {
  font-size: 1vw;
}

.nftdud:hover {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  scale: 1.02;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(3deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.left3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  flex: 1 1 47rem;
}
.right3 {
  flex: 1 1 43rem;
}

.merchparent h1 {
  font-size: 0.8vw;
}

.left3 p {
  font-family: "Lato";
  font-weight: 200;
  color: #847c74;
  margin: 0;
}

.pwrapper {
  width: 50%;
}

/* button3 */

.btncontainermint {
  position: absolute;
  z-index: 2;
  bottom: 6%;
}
.mint {
  padding: 0.65em 1.6em;
  border: 3px solid #7f7676;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2.1rem;
  color: #888077;
  text-align: center;
  transition: all 0.2s;
  animation: bn13bouncy 10s infinite linear;
  cursor: pointer;
}

.mint:hover {
  background-color: #514c47;
  color: #ebdece;
}

.video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.videoControls {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.muteButton {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.muteButton:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.textContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 86svh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
}

.spotifyContainer {
  position: absolute;
  top: 89.5vh;
  left: 1%;

  width: 25rem;
}

.spotifySnippet {
  position: absolute;
}

.title {
  margin: 0;
  font-size: 43px;
  font-family: "Lato";
}

.subtitle {
  font-size: 24px;
}

.btns {
  margin-top: 2rem;
  display: flex;
}

.btncontainerlisten a {
  font-size: 1.3rem;
}
.btncontainerwatch a {
  font-size: 1.3rem;
  margin-left: 5px;
}

.dualtitlevid {
  width: 12rem;
}

.swiperbuttonprev,
.swiperbuttonnext {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.swiperbuttonprev img:hover {
  filter: brightness(70%);
}
.swiperbuttonnext img:hover {
  filter: brightness(70%);
}

/* .swiperbuttonprev:before,
.swiperbuttonnext:before {
  content: "";
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  display: inline-block;
}
.swiperbuttonprev:before {
  border-right: 10px solid #fff;
}
.swiperbuttonnext:before {
  border-left: 10px solid #fff;
} */

.swiperbuttonprev {
  left: 10px;
  filter: opacity(90%);
  transition: all 0.2s ease-in-out;
}

.swiperbuttonnext {
  right: 10px;
  filter: opacity(90%);
  transition: all 0.2s ease-in-out;
}

.navButtons {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.showNavigationButtons {
  opacity: 1;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 1027px) {
  .swiperbuttonnext,
  .swiperbuttonprev {
    filter: opacity(50%);
  }
  .mask {
    visibility: hidden;
  }

  .swiperSlide {
    background-position: 90% center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .dualpic2 {
    width: 0rem;
    height: 0rem;
    transform: rotate(-0deg);
  }

  .outPic {
    display: flex;
  }

  .dualpicphonewrapper {
    margin-left: 1rem;
    width: 5rem;
    flex: 1;
    position: static;
    visibility: visible;
  }

  .bottom {
    align-self: center;
    width: 9rem;
  }
  .dualpicphone {
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;

    height: auto;
  }

  .dualtitle {
    width: 20rem;
    /* position: absolute; */
    transform: rotate(-5deg);
    /* left: 37.5vw;
  top: 3.5rem; */
    filter: brightness(85%);

    margin-bottom: 0rem;
  }

  .bottom {
    font-size: 27px;
  }

  .mainHeader {
    justify-content: end;
    align-items: center;
    margin-top: -20rem;

    flex: 10;
    order: 1;
  }

  .albumcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 0;
    flex: 1;
    order: 2;
    margin: 0;
  }

  .swiperbuttonprev,
  .swiperbuttonnext {
    width: 35px;
    height: 35px;
  }
  .bgclass {
    background-image: url("../../container/img/ezmilphone.jpg") !important;
  }

  .swiperSlide {
    height: 100svh;
  }

  .outpic {
    display: flex;
    flex-direction: row;
  }

  .spotlogo {
    position: relative;
    width: 5.7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    top: -2px;
    cursor: pointer;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  .ytlogo {
    width: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  .applelogo {
    position: relative;
    width: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    top: -1px;
    cursor: pointer;
    transition: all 0.2s ease;
    cursor: pointer;
  }

  .blankSection {
    position: absolute;
  }
  .dualtitle {
    width: 21rem;
  }
}

/* TABLETS */
@media only screen and (min-width: 490px) and (max-width: 1027px) {
  .dualtitle {
    width: 23rem;
  }
  .mask {
    visibility: hidden;
  }
  .spotlogo {
    width: 5.7rem;
  }
  .ytlogo {
    width: 6rem;
  }
  .applelogo {
    width: 5.3rem;
  }
  .mainHeader {
    margin-top: 4rem;
  }

  .dualpicphone {
    width: 5.3rem;
  }
}

@media only screen and (min-height: 1280px) {
  .swiperSlide {
    height: 100vh;
  }

  .mask {
    visibility: hidden;
  }
}

@media only screen and (max-width: 400px) {
  .bottom {
    font-size: 1.3rem;
    width: 8rem;
  }
  .mask {
    visibility: hidden;
  }

  .mainHeader {
    justify-content: end;
    align-items: center;
    margin-top: 0rem;

    flex: 8;
    order: 1;
  }
  .dualtitle {
    width: 18rem;
  }
  .dualpicphonewrapper {
    margin: 0.1;
  }

  .spotlogo {
    position: relative;
    width: 4.7rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    top: -2px;
    cursor: pointer;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  .ytlogo {
    width: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  .applelogo {
    position: relative;
    width: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    top: -3px;
    cursor: pointer;
    transition: all 0.2s ease;
    cursor: pointer;
  }

  /* Styles */
}

@media only screen and (min-width: 1028px) and (max-width: 1280px) {
  .mainHeader {
    margin-top: -30rem;
  }
}

/* for 720 */

@media only screen and (min-width: 1280px) and (max-width: 1666px) {
  .imgWrapper {
    width: 20rem;
  }
  .mask {
    visibility: hidden;
  }
  .mainHeader {
    flex: 1.3;
    margin-top: -31rem;
  }
  .spotlogo {
    position: relative;
    width: 4.7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    top: -2px;
    cursor: pointer;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  .ytlogo {
    width: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  .applelogo {
    position: relative;
    width: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    top: -3px;
    cursor: pointer;
    transition: all 0.2s ease;
    cursor: pointer;
  }

  .dualtitle {
    width: 23rem;
  }

  .bottom {
    font-size: 1.4rem;
  }

  .swiperbuttonprev,
  .swiperbuttonnext {
    position: absolute;
    top: 53%;
    width: 40px;
    height: 40px;
    margin-top: -30px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
  }
}

@media only screen and (min-width: 2560px) {
  .dualtitle {
    width: 38rem;
  }

  .mainHeader {
    margin-top: -48rem;
  }

  .mask {
    position: absolute;
    width: 39rem;
    top: 36%;
    left: 68.5%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .imgWrapper {
    width: 38rem;
  }
  .logos {
    margin-top: 0.5rem;
  }
  .spotlogo {
    position: relative;
    width: 8.7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    top: -2px;
    cursor: pointer;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  .ytlogo {
    width: 9rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  .applelogo {
    position: relative;
    width: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    top: 1px;
    cursor: pointer;
    transition: all 0.2s ease;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1666px) {
  .mainHeader {
    margin-top: -30rem;
  }
  .mask {
    position: absolute;
    width: 23rem;
    top: 37%;
    left: 67.8%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
}

/* tablets */
@media only screen and (min-width: 1028px) and (max-width: 1279px) {
  .mask {
    visibility: hidden;
  }
  .imgWrapper {
    width: 20rem;
  }

  .albumcontainer {
    padding-left: 0rem;
    margin-left: -2rem;
  }
  .mainHeader {
    flex: 15.3;
  }
  .spotlogo {
    position: relative;
    width: 4.7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    top: -2px;
    cursor: pointer;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  .ytlogo {
    width: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  .applelogo {
    position: relative;
    width: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    top: 1px;
    cursor: pointer;
    transition: all 0.2s ease;
    cursor: pointer;
  }

  .dualtitle {
    width: 20rem;
  }
  .bottom {
    font-size: 1.4rem;
  }

  .albumcontainer {
    margin-top: 2rem;
  }
  .mainHeader {
    position: absolute;
    visibility: hidden;
  }

  .mainHeader2 {
    position: static;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .swiperbuttonprev,
  .swiperbuttonnext {
    position: absolute;
    top: 53%;
    width: 40px;
    height: 40px;
    margin-top: -30px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
  }
}

/* TABLET MERCH */
@media only screen and (min-width: 560px) and (max-width: 739px) {
  .shopWrapper {
    display: grid;
    grid-template-columns: 0.4fr 1fr 1.5fr 1.5fr 1fr 0.4fr;
    grid-template-rows: 0.6fr 1fr 1fr 1.2fr 1fr 0.3fr;
    /* gap: 2rem 0px;  */
    align-items: center;

    grid-template-areas:
      ".. .. .. .. .. .."
      ".  .  mp mp .  . "
      ".  .  mp mp .  . "
      ".  i1 i1 i2 i2 . "
      ".  i1 i1 i2 i2 . "
      ".. .. .. .. .. ..";
  }
  .left2 {
    margin: 0;
    grid-area: i1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  .mid2 {
    grid-area: mp;
  }

  .right2 {
    margin: 0;
    grid-area: i2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  .seven {
    position: relative;
    top: -7px;
  }
  .eight {
    position: relative;
    top: -2px;
  }
  .three {
    position: relative;
    top: -24px;
  }
  .four {
    position: relative;
    top: -8px;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pic {
    width: 100%;
    transition: all 0.3s ease-in-out;
    height: auto;
  }

  .merchpic {
    width: 100%;
    height: auto;
    transition: all 0.1s ease-in;
  }
  .btncontainer {
    position: absolute;
    z-index: 2;
    bottom: 6%;
  }
  .btncontainermint {
    position: absolute;
    z-index: 2;
    bottom: 6% !important;
  }
}
@media only screen and (min-width: 740px) and (max-width: 900px) {
  .shopWrapper {
    display: grid;
    grid-template-columns: 0.7fr 1fr 1.5fr 1.5fr 1fr 0.7fr;
    grid-template-rows: 0.6fr 1fr 1fr 1.2fr 1fr 0.3fr;
    /* gap: 2rem 0px;  */
    align-items: center;

    grid-template-areas:
      ".. .. .. .. .. .."
      ".  .  mp mp .  . "
      ".  .  mp mp .  . "
      ".  i1 i1 i2 i2 . "
      ".  i1 i1 i2 i2 . "
      ".. .. .. .. .. ..";
  }
  .left2 {
    margin: 0;
    grid-area: i1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  .mid2 {
    grid-area: mp;
  }

  .right2 {
    margin: 0;
    grid-area: i2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  .seven {
    position: relative;
    top: -7px;
  }
  .eight {
    position: relative;
    top: -2px;
  }
  .three {
    position: relative;
    top: -24px;
  }
  .four {
    position: relative;
    top: -8px;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pic {
    width: 100%;
    transition: all 0.3s ease-in-out;
    height: auto;
  }

  .merchpic {
    width: 100%;
    height: auto;
    transition: all 0.1s ease-in;
  }
  .btncontainer {
    position: absolute;
    z-index: 2;
    bottom: 6%;
  }
  .btncontainermint {
    position: absolute;
    z-index: 2;
    bottom: 6% !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 384px) {
  .buy {
    font-size: 1.2rem;
  }
  .shopWrapper {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 0.9fr 1fr 1.5fr 1.5fr 1fr 0.9fr;
    grid-template-rows: 0.1fr 0.3fr 0.5fr 1fr 0.4fr 0.1fr;
    gap: 1.5rem 0px;
    align-items: center;

    grid-template-areas:
      ".. .. i2 i2 .. .."
      ".  .  i2 i2 .  . "
      ".  .  mp mp .  . "
      ".  .  mp mp .  . "
      ".  .  i1 i1 .  . "
      ".. .. i1 i1 .. ..";
  }
  .left2 {
    margin: 0;
    grid-area: i1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  .merchparent h1 {
    position: absolute;
    visibility: hidden;
  }
  .mid2 {
    grid-area: mp;
  }

  .right2 {
    margin: 0;
    grid-area: i2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pic {
    width: 100%;
    transition: all 0.3s ease-in-out;
    height: auto;
  }

  .merchpic {
    width: 100%;
    height: auto;
    transition: all 0.1s ease-in;
  }

  .eight {
    position: relative;
    top: 2px;
  }

  .three {
    position: relative;
    top: -13px;
  }

  .btncontainer {
    position: absolute;
    z-index: 2;
    bottom: 5%;
  }

  .four {
    position: relative;
    top: -5px;
  }
}
@media only screen and (min-width: 385px) and (max-width: 499px) {
  .buy {
    font-size: 1.2rem;
  }
  .shopWrapper {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1.5fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.3fr 0.5fr 1fr 0.4fr 0.1fr;
    gap: 1.5rem 0px;
    align-items: center;

    grid-template-areas:
      ".. .. i2 i2 .. .."
      ".  .  i2 i2 .  . "
      ".  .  mp mp .  . "
      ".  .  mp mp .  . "
      ".  .  i1 i1 .  . "
      ".. .. i1 i1 .. ..";
  }
  .left2 {
    margin: 0;
    grid-area: i1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  .merchparent h1 {
    position: absolute;
    visibility: hidden;
  }
  .mid2 {
    grid-area: mp;
  }

  .right2 {
    margin: 0;
    grid-area: i2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pic {
    width: 100%;
    transition: all 0.3s ease-in-out;
    height: auto;
  }

  .merchpic {
    width: 100%;
    height: auto;
    transition: all 0.1s ease-in;
  }

  .eight {
    position: relative;
    top: 2px;
  }

  .three {
    position: relative;
    top: -13px;
  }

  .btncontainer {
    position: absolute;
    z-index: 2;
    bottom: 5%;
  }

  .four {
    position: relative;
    top: -5px;
  }
}
@media only screen and (min-width: 405px) and (max-width: 450px) {
  .buy {
    font-size: 1rem;
  }
  .shopWrapper {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 0.8fr 1fr 1.5fr 1.5fr 1fr 0.8fr;
    grid-template-rows: 0.1fr 0.3fr 0.5fr 1fr 0.4fr 0.1fr;
    gap: 1.5rem 0px;
    align-items: center;

    grid-template-areas:
      ".. .. i2 i2 .. .."
      ".  .  i2 i2 .  . "
      ".  .  mp mp .  . "
      ".  .  mp mp .  . "
      ".  .  i1 i1 .  . "
      ".. .. i1 i1 .. ..";
  }
  .left2 {
    margin: 0;
    grid-area: i1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  .merchparent h1 {
    position: absolute;
    visibility: hidden;
  }
  .mid2 {
    grid-area: mp;
  }

  .right2 {
    margin: 0;
    grid-area: i2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pic {
    width: 100%;
    transition: all 0.3s ease-in-out;
    height: auto;
  }

  .merchpic {
    width: 100%;
    height: auto;
    transition: all 0.1s ease-in;
  }

  .eight {
    position: relative;
    top: 2px;
  }

  .three {
    position: relative;
    top: -13px;
  }

  .btncontainer {
    position: absolute;
    z-index: 2;
    bottom: 5%;
  }
  .btncontainermint {
    position: absolute;
    z-index: 2;
    bottom: 5% !important;
  }

  .four {
    position: relative;
    top: -5px;
  }
}
@media only screen and (min-width: 441px) and (max-width: 470px) {
  .buy {
    font-size: 1.2rem;
  }
  .shopWrapper {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1.5fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.3fr 0.5fr 1fr 0.4fr 0.1fr;
    gap: 1.5rem 0px;
    align-items: center;

    grid-template-areas:
      ".. .. i2 i2 .. .."
      ".  .  i2 i2 .  . "
      ".  .  mp mp .  . "
      ".  .  mp mp .  . "
      ".  .  i1 i1 .  . "
      ".. .. i1 i1 .. ..";
  }
  .left2 {
    margin: 0;
    grid-area: i1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  .merchparent h1 {
    position: absolute;
    visibility: hidden;
  }
  .mid2 {
    grid-area: mp;
  }

  .right2 {
    margin: 0;
    grid-area: i2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pic {
    width: 100%;
    transition: all 0.3s ease-in-out;
    height: auto;
  }

  .merchpic {
    width: 100%;
    height: auto;
    transition: all 0.1s ease-in;
  }

  .eight {
    position: relative;
    top: 2px;
  }

  .three {
    position: relative;
    top: -13px;
  }

  .btncontainer {
    position: absolute;
    z-index: 2;
    bottom: 5%;
  }
  .btncontainermint {
    position: absolute;
    z-index: 2;
    bottom: 5% !important;
  }

  .four {
    position: relative;
    top: -5px;
  }
}

@media only screen and (min-width: 470px) and (max-width: 559px) {
  .buy {
    font-size: 1.2rem;
  }
  .shopWrapper {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1.6fr 1fr 1.5fr 1.5fr 1fr 1.6fr;
    grid-template-rows: 0.1fr 0.3fr 0.5fr 1fr 0.4fr 0.1fr;
    gap: 1.5rem 0px;
    align-items: center;

    grid-template-areas:
      ".. .. i2 i2 .. .."
      ".  .  i2 i2 .  . "
      ".  .  mp mp .  . "
      ".  .  mp mp .  . "
      ".  .  i1 i1 .  . "
      ".. .. i1 i1 .. ..";
  }
  .left2 {
    margin: 0;
    grid-area: i1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  .merchparent h1 {
    position: absolute;
    visibility: hidden;
  }
  .mid2 {
    grid-area: mp;
  }

  .right2 {
    margin: 0;
    grid-area: i2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pic {
    width: 100%;
    transition: all 0.3s ease-in-out;
    height: auto;
  }

  .merchpic {
    width: 100%;
    height: auto;
    transition: all 0.1s ease-in;
  }

  .eight {
    position: relative;
    top: 2px;
  }

  .three {
    position: relative;
    top: -13px;
  }

  .btncontainer {
    position: absolute;
    z-index: 2;
    bottom: 5%;
  }
  .btncontainermint {
    position: absolute;
    z-index: 2;
    bottom: 5% !important;
  }

  .four {
    position: relative;
    top: -5px;
  }
}

@media (min-width: 300px) and (max-width: 321px) and (max-height: 630px) {
  .shopWrapper {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1.1fr 1fr 1.5fr 1.5fr 1fr 1.1fr;
    grid-template-rows: 0.1fr 0.3fr 0.5fr 1fr 0.4fr 0.1fr;
    gap: 1.5rem 0px;
    align-items: center;

    grid-template-areas:
      ".. .. i2 i2 .. .."
      ".  .  i2 i2 .  . "
      ".  .  mp mp .  . "
      ".  .  mp mp .  . "
      ".  .  i1 i1 .  . "
      ".. .. i1 i1 .. ..";
  }
}

@media (min-width: 321px) and (max-width: 355px) and (max-height: 630px) {
  .shopWrapper {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1.3fr 1fr 1.5fr 1.5fr 1fr 1.3fr;
    grid-template-rows: 0.1fr 0.3fr 0.5fr 1fr 0.4fr 0.1fr;
    gap: 1.5rem 0px;
    align-items: center;

    grid-template-areas:
      ".. .. i2 i2 .. .."
      ".  .  i2 i2 .  . "
      ".  .  mp mp .  . "
      ".  .  mp mp .  . "
      ".  .  i1 i1 .  . "
      ".. .. i1 i1 .. ..";
  }
}

@media (min-width: 356px) and (max-width: 450px) and (max-height: 630px) {
  .shopWrapper {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1.3fr 1fr 1.5fr 1.5fr 1fr 1.3fr;
    grid-template-rows: 0.1fr 0.3fr 0.5fr 1fr 0.4fr 0.1fr;
    gap: 1.5rem 0px;
    align-items: center;

    grid-template-areas:
      ".. .. i2 i2 .. .."
      ".  .  i2 i2 .  . "
      ".  .  mp mp .  . "
      ".  .  mp mp .  . "
      ".  .  i1 i1 .  . "
      ".. .. i1 i1 .. ..";
  }
}

@media only screen and (max-width: 1200px) {
  .illawrapper {
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
  }

  .left3 p {
    font-size: 1.4vh;
  }
  .left3 {
    margin-top: 20rem;
    width: 23rem;
    flex: 1;
  }
  .right3 {
    margin-top: 1rem;
    width: 20rem;
  }

  .btncontainermint {
    position: absolute;
    z-index: 2;
    bottom: 6%;
  }

  .mint {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 426px) {
  .mint {
    font-size: 1.3rem;
  }
  .btncontainermint {
    bottom: 6%;
    position: absolute;
    z-index: 2;
  }
}

@media only screen and (max-width: 1010px) {
  .illawrapper {
    gap: -2rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1021px) {
  .spotifyContainer {
    position: absolute;
    top: 22%;
    left: 50%;
    width: 240px;
    height: 80px;
    filter: opacity(40%);
    transform: translate(-50%, -50%);
  }
  .btns {
    margin: 25px;
  }

  .title {
    font-size: 24px;
  }

  .textContainer {
    top: 89svh;
  }
  .btncontainerlisten a {
    font-size: 17px;
  }
  .btncontainerwatch a {
    font-size: 17px;
  }
}

@media only screen and (min-width: 776px) and (max-width: 1171px) {
  .spotifyContainer {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 224px;
    height: 80px;
    filter: opacity(70%);
    transform: translate(-50%, -50%);
  }
  .btns {
    margin: 25px;
  }

  .title {
    font-size: 33px;
  }

  .textContainer {
    top: 85.5svh;
  }
  .btncontainerlisten a {
    font-size: 17px;
  }
  .btncontainerwatch a {
    font-size: 17px;
  }
}

@media only screen and (max-width: 1300px) and (max-height: 0px) {
  .dualtitle {
    width: 15rem;
  }
  .mask {
    visibility: hidden;
  }

  .dualpic2 {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 50px 15px;
    margin-bottom: 0.5rem;
  }
  .spotlogo {
    width: 3.7rem;
    position: relative;
    top: 4%;
    margin-left: 2%;
    margin-right: 5%;
  }
  .buy {
    font-size: 1rem;
  }

  .mint {
    font-size: 1rem;
  }
  .bottom {
    font-size: 1rem;
  }
  .ytlogo {
    width: 4rem;
  }
  .applelogo {
    width: 3rem;
    top: -7%;
  }
  .mainHeader {
    margin-top: 4rem;
  }

  .imgWrapper {
    width: 15rem;
  }
  .spotifyContainer {
    position: absolute;
    top: 83vh;
    left: 1%;

    width: 15rem;
  }
  .textContainer {
    top: 80vh;
  }

  .title {
    font-size: 30px;
  }
  .btncontainerlisten a,
  .btncontainerwatch a {
    font-size: 1rem;
  }

  .left3 {
    width: 15rem;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1500px) {
  .illaparent {
    display: flex;
    justify-content: center;
  }

  .illawrapper {
    display: flex;
    gap: 0rem;
  }

  .left3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    flex: 1 1 47rem;
  }

  .left3 {
    width: 24rem;
  }

  .pwrapper {
    width: 50%;
  }

  .right3 {
    flex: 1 1 43rem;
  }

  .right3 {
    width: 50rem;
  }

  .btncontainermint {
    bottom: 6%;
    position: absolute;
    z-index: 2;
  }
}

@media only screen and (min-width: 1501px) and (max-width: 1800px) {
  .illaparent {
    display: flex;
    justify-content: center;
  }

  .illawrapper {
    display: flex;
    gap: 4rem;
  }

  .left3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    flex: 1 1 47rem;
  }

  .left3 {
    width: 30rem;
  }

  .pwrapper {
    width: 50%;
  }

  .right3 {
    flex: 1 1 43rem;
  }

  .right3 {
    width: 50rem;
  }

  .btncontainermint {
    position: absolute;
    z-index: 2;
    bottom: 3%;
    left: 50%;
  }
}

@media only screen and (min-width: 300px) and (max-width: 480px) and (max-height: 882px) {
  .left3 {
    width: 15rem;
    margin-top: 55vh;
  }

  .right3 {
    width: 15rem;
  }
}
@media only screen and (min-width: 412px) and (max-width: 480px) and (max-height: 882px) {
  .left3 {
    width: 15rem;
    margin-top: 45vh;
  }

  .right3 {
    width: 15rem;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) and (max-height: 700px) {
  .left3 {
    width: 11rem;
    margin-top: 75vh;
  }

  .right3 {
    width: 11rem;
  }
}

@media only screen and (min-width: 1280px) and (max-height: 800px) {
  .textContainer {
    top: 80vh;
  }

  .spotifyContainer {
    top: 87vh;
  }
}
