@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#app {
  height: 100%;
}

body {
  background: #eee;
  font-family: 'Roboto', sans-serif;  
  color: #000;
  margin: 0;
  padding: 0;
}

#swiper-comp {
  position: relative;
  display: flex;
}

.swiper-title {
  position: absolute;
  top: 13.2rem;
  left: -6.5rem;
  font-size: 2.4rem;
  z-index: 2;
  color: rgba(255, 255, 255, 0.3);
  transform: rotate(-90deg);
}

a:link {
  text-decoration: none;
}
.swiper-pagination {
  display: none;
}

.btn-container {
  position: absolute;
  z-index: 2;
  right: 46.5%;
  bottom: 7%;
}
.bn13 {
  padding: 0.65em 1.6em;
  border: 3px solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  animation: bn13bouncy 10s infinite linear;
  cursor: pointer;
}

.bn13:hover {
  background-color: white;
  color: #000000;
}

@keyframes bn13bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.slideSwiperComp {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

}

.swiper-slide .bg {
  position: relative;
  display: block;
  filter: brightness(40%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bt {
  position: absolute;
}

.mySwiper {
}

.smallContent *{
  display: none;
}

.smallContent{
  display: none;
}
@media only screen and  (max-width: 1280px){
   
  .largeContent{
    display: none;
  }

  .smallContent *{
    display: block;
  }

  .smallContent{
    display: block;
  }
  .smallContent{
    margin-top: 6vh;
    margin-bottom: 3vh;
  }

   
  
   }


   .swiperbuttonprev4,
   .swiperbuttonnext4 {
     position: absolute;
     top: 45%;
     width: 60px;
     height: 60px;
   
     z-index: 10;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 0.5rem;
   
   }
   .swiperbuttonprev4 img:hover{
     filter: brightness(70%);
   }
   .swiperbuttonnext4 img:hover{
     filter: brightness(70%);
   }
   
   
   .swiperbuttonprev4 {
     left: 8px;
     filter: opacity(70%);
     transition: all 0.2s ease-in-out ;
     width: 45px;
     height: 45px;
   }
   
   
   .swiperbuttonnext4 {
     width: 45px;
     height: 45px;
     right:8px;
     filter: opacity(70%);
     transition: all 0.2s ease-in-out ;
   }