.album-info{
    display: flex;
    flex-wrap: wrap;
    margin: 0 10rem 0 10rem;
    justify-content: center;
    align-items: center;
}


.album-info * {
    text-align: left;
}

.left-info{
    width: 21rem;
    max-width: 100%;

    margin-right: 10rem;
    margin-top: 3rem;
}

.imgAlbum{
      width: 100%;
      height: auto;
      object-fit: cover;
}

.middle-info{
    display: flex;
    flex-direction: column;

    margin-right: 10rem;
    color: white;
    width: 40rem;
    
}

.middle-info-bottom{
    display: flex;
}

.right-info{
    margin-top: 3rem;
}