




  .filter-button {
    height: 3rem;
    padding: 0.40em 1.3em;
    border: 3px solid #ffffff00;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.5rem;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;

    font-size: 0.8rem;
    color: rgb(0, 0, 0);
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
    background: rgba(255, 255, 255, 0.983);

    background: rgba(255, 255, 255, 0.09);

    color: #f9f7f7;

  
  }
  .filter-button:hover {
    background-color: white;
    color: white;
    color: #000000;
    
  }

  .filter-button.active{
    background: rgb(255, 255, 255);

    color: #000000;
  }
  .filter-button{
    position: relative;
    left: -10px;
    margin-left: 5px;
  }



  .filter-container{
    display: flex;
    margin-top: 2rem;
margin-left: 0.3rem;
  }


  @media only screen and (min-width: 1280px) and (max-width: 1400px){
    .filter-button{
      height: 2.4rem;
    }
  }

  @media only screen and (max-width: 928px){
    .filter-container {
      margin-top: 2.5rem;
      margin-left: 2.8rem;
      
    }
    .filter-button{
      
      height: 2.4rem;
    font-size: 0.6rem;
      text-align: center;
    }
  }
  @media only screen and (min-width: 696px) and (max-width: 1400px){
    .filter-container {
      margin-top: 1.9rem;
      margin-left: 0.7rem;
    }
    .filter-button{
      height: 2.4rem;
    font-size: 0.7rem;
      text-align: center;
    }
  }