body {
  background: blue;
}

.container1 {
  width: 100vw;
  height:50vh;
  background: white;
  overflow: hidden;
  position: relative;

}

.diagonal {
  height: 1200px;
  width: 200px;
  overflow: hidden;
  transform: rotate(25deg);
  position: absolute;
  top: -200px;
}

.diagonal img {
  transform: rotate(-25deg);
  margin-top: -100px;
  margin-left: -200px;
}

.diagonal .overlay {
  transform: rotate(-25deg);
  height: 1200px;
  width: 800px;
  position: absolute;
  top: -50px;
  left: 0;
  background: black;
  opacity: 0;
  color: white;
  transition: opacity 0.5s;
  vertical-align: middle;
  text-align: center;
}

.diagonal .overlay:hover {
  opacity: 0.8;
}

.diagonal#d0 {
  left: -180px;
}

.diagonal#d1 {
  left: 40px;
}

.diagonal#d2 {
  left: 260px;
}

.diagonal#d3 {
  left: 480px;
}

.diagonal#d4 {
  left: 700px;
}

.diagonal#d5 {
  left: 920px;
}

.diagonal#d6 {
  left: 1140px;
}

.diagonal#d7 {
  left: 1360px;
  background: green;
}

.diagonal#d8 {
  left: 1580px;
}
.diagonal#d9 {
  left: 1800px;
}