/* .ytdark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4.5rem;
    height: 4.5rem;
    transition: all 0.1s ease;
    filter: drop-shadow(1px 1px 10px hsl(206.5, 70.7%, 8%));
    transition: all 250ms ease-in-out;
  }
  
  .ytdark:hover {
    transform: translate(-50%, -50%) scale(1.1);
    transform-origin: center;
  }
  
button {
  z-index: 999;
}
  .mobile{
    display: none;
  }


  @media only screen and (min-width: 300px) and (max-width: 1080px) {
    .mobile{
      display: block;
    }

    .desktop{
      display: none;
    }
  } 
   */


 .mvparentmain{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }

   .customPlayButton {
    position: absolute;
    width: 10%;
    height: 10%;
    background-image: url("../../../container/img/ytlogo.svg");
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: auto; /* Add this line to center horizontally */
    top: 0; /* Add this line to center vertically */
    bottom: 0; /* Add this line to center vertically */
    left: 0; /* Add this line to center horizontally */
    right: 0; /* Add this line to center horizontally */
    transition: all 0.1s ease;

  }


  .customPlayButton:hover{
    scale: 1.1;
  }

  .yt-lite{
    width: 49rem;
  }

  @media only screen and (min-width: 320px) and (max-width: 1027px) {

    .yt-lite{
      width: 18rem;
    }

  }
  @media only screen and (min-width: 400px) and (max-width: 1027px) {

    .yt-lite{
      width: 20rem;
    }

  }
  @media only screen and (min-width: 520px) and (max-width: 1027px) {

    .yt-lite{
      width: 24rem;
    }

  }
  @media only screen and (min-width: 620px) and (max-width: 1027px) {

    .yt-lite{
      width: 28rem;
    }

  }
  @media only screen and (min-width: 720px) and (max-width: 1027px) {

    .yt-lite{
      width: 32rem;
    }

  }
  @media only screen and (min-width: 820px) and (max-width: 1027px) {

    .yt-lite{
      width: 36rem;
    }

  }
  @media only screen and (min-width: 920px) and (max-width: 1027px) {

    .yt-lite{
      width: 40rem;
    }

  }
  @media only screen and (min-width: 2560px){

    .yt-lite{
      width: 86rem !important;
  }

  }

