.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: #111111;
    color: #fff;
    font-size: 14px;
    font-family: "Poppins";
  }
  
  @media (max-width: 768px) {
    .footer {
      font-size: 12px;
    }
  }

  .social-medias2 a{
    color: white;
    margin-left: 0.8rem;
  }