.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section.active {
  opacity: 1;
}


.one{
  background: rgb(11, 11, 110);
}
.two{
  background: rgb(76, 76, 146);
}
.three{
  background: rgb(149, 149, 190);
}