
.wrapper{
    width: 100%;
    height: 100%;
}
.thumbContainer{
    width: 100%;
    height: 100%;    
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: all 0.3s ease;
    filter: brightness(70%);
    
}


.titleWrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.516) 0px 0px 24px;
    z-index: 1;
    cursor: pointer;
}
.title{
    color: white;
    font-family: "Poppins";
    font-weight: 200;
    font-size: small;
    margin: 0;
    padding: 0;

}
.thumbContainer {
    filter: brightness(40%);
    transition: filter 0.3s ease;
  }
  

  
  .titleWrapper:hover ~ .thumbContainer {
    filter: brightness(1);
  }

  .thumbContainer.active {
    filter: brightness(110%);
  }
  
@media only screen and (min-width: 320px) and (max-width: 1027px) {

    .title{
        color: white;
        font-family: "Poppins";
        font-weight: 100;
        font-size: 0.5rem;
        margin: 0;
        padding: 0;
    }
  }