#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: a#000;
  margin: 0;
  padding: 0;
}

.newsWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76svh;

  
}
.mySwiper {
 
  height: 76vh;


}
.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.swiper-pagination-bullet {
  background-color: #ffffff !important;
}
.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: #00000000;
  height: calc((100% - 30px) / 2) !important;


}
