#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: a#000;
  margin: 0;
  padding: 0;
}

.mySwiper {
 
  height: 76vh;
  margin-left: 1vw;
  margin-right: 1vw;

}

.swiperSlide {
  text-align: center;

  background: #00000000;
  height: calc((100% - 30px) / 2) !important;


}
