.track-info p{
    font-family: arial;
    font-size: 0.8rem;
    line-height: 0.4;
    font-weight: 600;
}
.track-info {
    margin-top: -10px;
    font-family: arial;
    font-size: 0.8rem;
    line-height: 0.4;
}

.track-title{
    font-size: 1.4rem;
}