.newsImg{

    width: 18rem;
    height: 18rem;
    object-fit: cover;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.8rem;
}



.newsWrapper{
    display: flex;
    flex-direction: column;
    color: white;
    width: 15rem;
}

.newsWrapper p {
    font-size: 0.8rem;
    
}

.date, .title, .caption{
    margin: 0.2rem;

    font-family: "Poppins";
}

.date{
    color: rgba(255, 255, 255, 0.69);
    margin-top: 1rem;
}

