.newsImg{

    width: 17rem;
    height: 9rem;
    object-fit: cover;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}



.newsWrapper{
    display: flex;
    flex-direction: column;
    color: white;
    width: 17rem;
    transition: all 0.5 ease-in-out;
    text-align: left;
    margin-top: 5vh;
    transition: all 0.2s ease-in-out;

}

.newsWrapper:hover{
    filter: brightness(80%);
    scale: 1.1;


}

.newsWrapper p {
    font-size: 0.7rem;
    
}

.date, .title, .caption{
    margin: 0.2rem;

    font-family: "Poppins";
}

.date{
    color: rgba(255, 255, 255, 0.69);
    margin-top: 1rem;
}

.right-top-info *{
    color: white;
}

.swiperNews{
    display: flex;
    justify-content: center;
    align-items: center;
}